<div class="main-content">
    <div class="content">
        <h2 *ngIf="currencyObj"><strong><strong>{{currencyObj.symbol}}</strong> - {{currencyObj.name}}  </strong></h2>
        <div>
            <button class="nav-btn" routerLink="/"> Back to Home </button>
        </div>
    </div>

    <app-currency-converter [isHome]="false" [amount]="amount" [currencyFrom]="from" [currencyTo]="to" (update)="fetchHistoricData()" (currencyObj)="updateCurrency($event)"></app-currency-converter>

    <div>
        <div style="display: block;" *ngIf="chart">
            <canvas baseChart class="chart" [type]="'bar'" [data]="lineChartData" [options]="lineChartOptions"
                [legend]="lineChartLegend">
            </canvas>
        </div>
    </div>
</div>