<div class="main-content"> 
    <div class="content">
        <h2><strong>EUR - Europian Union Euro</strong></h2>
        <div>
            <button class="nav-btn" routerLink="/"> Back to Home </button>
        </div>
    </div>
    
    <div class="content form-row" [formGroup]="currencyForm">

        <div class="amount" style="width: 30%;">
            <div class="div-select input"> <label for="amount">Amount </label>
                <input id="amount" type="text" formControlName="amount">
            </div>
            <div *ngIf="currentValue">
                <div class="conversionBox">
                    1 {{currencyForm.value.from}} = {{conversionRate}} {{currencyForm.value.to}} </div>
            </div>
        </div>
     
     <div style="width: 60%; margin: 10px 5px;">        <div style="display:flex;justify-content: space-between;">
        <div class="div-select">
               <label for="from">From </label>
               <select class="select" name="from" id="from">
                   <option *ngFor="let item of currencies" value="item.symbol">{{item?.symbol}} - {{item?.name}}
                   </option>
               </select>
           </div>

           <div class="div-select">
               <label for="to">To </label>
               <select class="select" name="to" id="to">
                   <option *ngFor="let item of currencies" value="item.symbol">{{item?.symbol}} - {{item?.name}}
                   </option>
               </select>
           </div>
           </div>
           <button class="btn convert" type="submit" (click)="convertCurrency()">Convert</button>

           <div  class="flex">   <div class="conversionBox">
                {{currentValue}} {{currencyForm.value.to}} </div>
               </div>
    </div></div>
    <div >
        <div style="display: block;" *ngIf="chart">
            <canvas baseChart class="chart"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
            </canvas>
          </div>          
    </div>
</div>