<div class="content form-row" [formGroup]="currencyForm">

    <div class="amount" style="width: 30%;">
        <div class="div-select input"> <label for="amount">Amount </label>
            <input id="amount" type="number" formControlName="amount">
        </div>
        <div *ngIf="currentValue">
            <div class="conversionBox">
                {{ 1 | currency:currencyForm.value.from }} = {{conversionRate | currency:currencyForm.value.to}} </div>
        </div>
    </div>

    <div style="width: 60%; margin: 10px 5px;">
        <div style="display:flex;justify-content: space-between;">
            <div class="div-select">
                <label for="from">From </label>
                <select class="select" formControlName="from" id="from">
                    <option *ngFor="let item of currencies" [value]="item.symbol" [selected]="item.symbol==='EUR'">
                        {{item?.symbol}} - {{item?.name}}
                    </option>
                </select>
            </div>

            <button class="convertBtn" (click)="swap()"> <img class="convertIco" src="../../assets/swap.svg" />
            </button>
            <div class="div-select">
                <label for="to">To </label>
                <select class="select" formControlName="to" id="to">
                    <option *ngFor="let item of currencies" value="{{item.symbol}}" [selected]="item.symbol==='USD'">
                        {{item?.symbol}} - {{item?.name}}
                    </option>
                </select>
            </div>
        </div>
        <span *ngIf="errorTxt" style="color: red;">{{errorTxt}} </span>
        <button class="btn convert" type="submit" (click)="convertCurrency()"
            [disabled]="!currencyForm.valid || errorTxt">Convert</button>
        <div *ngIf="currentValue" class="flex">
            <div class="conversionBox">
                <span> Converted Value <br /> <strong> {{currentValue | currency:currencyForm.value.to}}</strong>
                </span>
            </div>
            <button *ngIf="isHome" class="btn details" type="submit"
                routerLink="/details/{{currencyForm.value.from}}/{{currencyForm.value.to}}/{{currencyForm.value.amount}}">More
                Details</button>
        </div>
    </div>
</div>