<div class="main-content">
    <h2><strong>Currency Exchanger</strong></h2>
    <app-currency-converter [isHome]="true" [amount]="1" [currencyFrom]="'EUR'" [currencyTo]="'USD'"
        (update)="fetchLatestConversionRates($event)"></app-currency-converter>


    <div *ngIf="latestRates" class="currencyGrid">
        <div class="currencyBox" *ngFor="let rate of latestRates">
            <span class="currencyConverted"
                routerLink="/details/{{conversionData.from}}/{{rate.symbol}}/{{conversionData.amount}}">
                {{(conversionData.amount * rate.rate) | currency:rate.symbol}} </span>
        </div>
    </div>
    </ng-container>
</div>